:root {
--primary-color: #0A369D;
--secondary-color: #4472CA;
--accent1-color: #5E7CE2;
--accent2-color:#92b4f4;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Header Styles */
header {
background-color: var(--primary-color); /* Primary Color */
color: var(--accent1-color);
padding: 0 1rem;
}

nav {
  float: right;
  margin-top: 90px;
}

.logo img {
width:auto;
max-height: 180px;
}


body {

font-family: "Lora", serif;
font-optical-sizing: auto;
margin: 0;
padding: 0;
}


a{
color: #ffffff;
text-decoration: none;
padding: 5px;
font-size: x-large;
}



.hero{
text-align: center;
position: relative;
}


.hero img {
display: block;
width: 100%;
margin-top: 60px;
height: auto;
object-fit: cover;
}


h1{
background: #5E7CE2;
width: 100%;
height: 55px;
color: #ffffff;
position: absolute;
top: 40px;
padding: 0.5rem;
font-size: xx-large;
}

.purpose{
background-color: #92b4f4cc;
width: 90%;
height: 250px;
color: var(--accent1-color);
position: absolute;
top: 170px;
text-align: left;
margin-left: 2rem;
}

.purpose img{
width: 300px;
height: auto;
float: right;
margin: 20px;

}

.purpose p{
color: #000;
font-style: oblique;
font-size: 25px;
margin-left: 0.5rem;
padding: 0.5rem;

}

.purpose h2 {
font-style: italic;
color: #000;
margin: 0;
padding-left: 1rem;
}

.history h2 {
font-size: xx-large;
text-shadow: #000;
color: #0854e2dc;
padding: 3px;
margin: 1rem;
}

.adventure h2 {
font-size: xx-large;
text-shadow: #000;
color: #0854e2dc;
padding: 3px;
margin: 1rem;
}

.history p{
margin: 1rem;
font-size: x-large;
}

/* History Section Styles */
.history {
padding: 50px 0;
}

/* Adventure Section Styles */
.adventure {
color: #000;
padding: 50px 0;
}

.adventure img{
width: 75%;
margin-left: 1rem;
}
.adventure h3{
padding: 5px;
margin-left: 1rem
}

/* Footer Styles */
footer {
background-color: var(--primary-color);
color: #ffffff;
padding: 20px 0;
text-align: center;
}

footer img{
width: 40px;
padding-bottom: 0;
}

.sociallinks{
  position: relative;
  
}