.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
	background-color: blue;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0  10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: darkblue;
    width: 100px;
    height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}