*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --margin: 1rem;
    --padding: 1rem;
    --width: 200px;
    --height: auto;
    --text-align: center;
}
nav {
    background-color: darkblue;
    padding: 5px;
}
nav a {
    color:white;
    display: block;
    padding: 10px;
}
main {
    max-width: 840px;
}
h1 {
    color: darkblue;
}
main img {
    float: right;
    margin: var(--margin);
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
aside {
    width: 20em;
    text-align: var(--text-align);
    position: relative;
}
aside img {
    width: var(--width);
    height: var(--height);
}
aside h2 {
    position: absolute;
    top: 25px;
    left: 155px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
    clear: both; 
}

/*Class Selectors*/

.box {
    margin: var(--margin);
    border: 1px solid rgb(0 0 0 / .1);
    padding: var(--padding);
    background-color: #ddd;
    color: #000;
}